import /system/etc/init/init.devicesetting.rc

on fs
# debug boot process
    rm /cache/boot_lc_full.txt
    rm /cache/boot_lc_crash.txt
    rm /cache/boot_lc_kernel.txt
    start boot_lc
    start boot_lc_kernel
    start boot_lc_crash

on init
    setprop sys.usb.ffs.aio_compat 1

    # Custom overrides that need to happen right on boot
    # Override vendor fstab
    # We only need it to be overridden before things are mounted
    mount none /system/etc/fstab.mt6785 /vendor/etc/fstab.mt6785 bind

#on charger
    # Turn backlight on and switch to backlight trigger
    #write /sys/class/leds/lcd-backlight/brightness "1000"
    #write /sys/class/leds/lcd-backlight/trigger "backlight"

on post-fs
    # Unmount the overridden fstab because the SELinux label is incorrect
    # and some MTK daemons can crash because of that
    # (at post-fs, the fstab has already been used to mount the partitions,
    #  so it is fine to just revert back)
    umount /vendor/etc/fstab.mt6785

on post-fs-data
    # Hack until we build the vendor
    mount none /dev/null vendor/lib/hw/lights.mt6785.so bind
    mount none /dev/null vendor/lib/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/bin/hw/android.hardware.light@2.0-service-mediatek bind
    mount none /dev/null vendor/lib64/hw/lights.mt6785.so bind
    mount none /dev/null vendor/lib64/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/etc/init/android.hardware.light@2.0-service-mediatek.rc bind

service boot_lc /system/bin/logcat -b all -D -f /cache/boot_lc_full.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_crash /system/bin/logcat -b crash -D -f /cache/boot_lc_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_lc_kernel /system/bin/logcat -b kernel -D -f /cache/boot_lc_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot

on property:sys.boot_completed=1
    setprop vendor.oppo.biometrics.fingerprint.boot_completed 1
	stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel

on boot
    #VideoCodec
    chmod 0666 /dev/video0
    chmod 0666 /dev/video1
	
on property:dev.bootcomplete=1
	stop boot_lc
    stop boot_lc_crash
    stop boot_lc_kernel
	
	
